<% @restaurants.each do |r| %>
  <%= link_to (r) do  %>
    <h2><%= r.name %></h2>
  <% end %>
  <p>
    <% r.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag)  %>
    <% end %>
  </p>
<% end %>
